<div class="container">
 <div class="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
<h3>会員情報編集</h3>
<%= form_with model:@customer, local:true do |f| %>
<table>
 <tr>
  <th>氏名</th>
  <td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
 </tr>
 <tr>
 <th>フリガナ</th>
 <td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td>
 </tr>
 <th>郵便番号</th>
 <td><%= f.text_field :postal_code %></td>
 </tr>
 <th>住所</th>
 <td><%= f.text_field :address %></td>
 </tr>
 <tr>
 <th>電話番号</th>
 <td><%= f.text_field :telephone_number %></td>
 </tr>
 <tr>
 <th>メールアドレス</th>
 <td><%= f.text_field :email %></td>
 </tr>
</table>
<div>
 <button class= "btn btn-success" type="submit">編集内容を保存</button>
 <% end %>

 <%= link_to customers_unsubscribe_path do %>
 <i class="btn btn-danger">退会する</i>
 <% end %>
 </div>
</div>
</div>
</div>