<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

　<%= form_with model: [:admin,@item], local:true do |f| %>
　<h6>商品画像</h6>
 <%= f.attachment_field :image %>
 <h6>商品名</h6>
 <%= f.text_field :name %>
 <h6>商品説明</h6>
 <%= f.text_area :introduction %>
 <h6>ジャンル</h6>
 <%= f.select :genre_id, [['ケーキ',1], ['焼き菓子',2], ['プリン',3], ['キャンディ',4]] %>
 <h6>税抜き価格</h6>
 <%= f.text_field :price %><a>円</a>
<button class= "btn btn-secondary" type="submit">変更を保存</button>
<% end %>
</div>
</div>
</div>
