<div class="container">
 <div slass="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
   <h5>商品編集</h5>
　<%= form_with model: [:admin,@item], local:true do |f| %>
　<table>
　 <tr>
　  <th>商品画像</th>
    <td><%= f.attachment_field :image %></td>
   </tr>
   <tr>
    <th>商品名</th>
    <td><%= f.text_field :name, class:"w-100" %></td>
   </tr>
   <tr>
    <th>商品説明</th>
    <td><%= f.text_area :introduction, class:"w-100" %></td>
   </tr>
   <tr>
    <th>ジャンル</th>
    <td><%= f.collection_select(:genre_id, @genres, :id, :name) %></td>
   </tr>
   <tr>
    <th>税抜き価格</th>
    <td><%= f.text_field :price %>円</td>
   </tr>
</table>
<button class= "btn btn-success d-block" type="submit">変更を保存</button>
<% end %>

  </div>
</div>
</div>
