<% if @item.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
  </div>
<% end %>

<table class="table table-hover table-inverse">
<%= link_to new_admin_item_path do %>
 <button class= "fas fa-plus btn btn-outline-secondary"></button>
<% end %>
<h3>商品一覧</h3>
   <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜き価格</th>
    <th>ジャンル</th>
   </tr>
   <% @items.each do |item| %>
   <tr>
     <td><%= item.id %></td>
     <td>
       <%= link_to admin_item_path(item) do %>
       <%= item.name %>
       <% end %>
     </td>
     <td><%= item.price %></td>
     <td><%= item.genre_id %></td>
   </tr>
<% end %>
</table>