
<h3>商品詳細</h3>
<div class="container py-5">
 <div class="row">
<div class= "col-lg-4 img-wrapper">
  <%= attachment_image_tag @item, :image, :fill, 273, 200, format: 'jpeg', fallback: "no_image.jpg", size:'300x200' %>
</div>
  <div class="col-lg-6,col-offset-2">
   <table class="table table-hover table-inverse align-middle">
    <tr>
     <th>商品名</th>
     <td><%= @item.name %></td>
    </tr>
    <tr>
     <th>商品説明</th>
     <td><%= @item.introduction %></td>
    </tr>
    <tr>
     <th>ジャンル</th>
     <td><%= @item.genre.name %></td>
   </tr>
   <tr>
    <th>税込価格</br>(税抜価格)</th>
    <td><%= (@item.price*1.1).round %>円(<%= @item.price %>円)</td>
   </tr>
  </table>
  <div>
  <%= link_to edit_admin_item_path(@item) do %>
   <i class="btn btn-success">編集する</i>
  </div>
  </table>
   <% end %>
   </div>
  </div>
  </div>


