
<h3>商品詳細</h3>
<div class="row">
 <div class="col-md-3">
  <%= attachment_image_tag @item, :image_id, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
  <div class="col-md-8 offset-md-1">
   <table class="table table-hover table-inverse">
    <tr>
     <th>商品名</th>
     <th><%= @item.name %></th>
    </tr>
    <tr>
     <th>商品説明</th>
     <th><%= @item.introduction %></th>
    </tr>
    <tr>
     <th>ジャンル</th>
     <th><%= @item.genre_id %></th>
   </tr>
   <tr>
    <th>税込み価格</br>(税抜価格)</th>
    <th><%= @item.price %>円</th>
   </tr>
  </table>
  <div>
  <%= link_to edit_admin_item_path(@item) do %>
   <i class="btn btn-success">編集</i>
  <% end %>
  </div>
  </table>
  </div>
  </div>
  <>
