
<div class="container">
 <div class="row">
   <h4>管理者ログイン</h4>
<div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p></p>
     <table class="field">
      <tr>
      <th><%= f.label :メールアドレス %></th>
      <th><%= f.email_field :email, class:"w-100", autofocus: true, autocomplete: "email" %></th>
      </tr>

      <tr>
      <th><%= f.label :パスワード %></th>
      <th><%= f.password_field :password, class:"w-100",autocomplete: "current-password" %></th>
      </tr>
     </table>


     <div class="actions">
      <button class="btn btn-primary" type="submit">ログイン</button>
     </div>
    <% end %>
    </div>
   </div>
  </div>

