<p><%= customer.last_nme %><%= customer.first_name %>さんの会員情報編集</p>

<%= form_with model [:public,@customer], local:true do |f| %>
<h6>会員ID</h6>
 <%= customer.id %>
 <h6>氏名</h6>
 <%= f.text_field :last_name %><%= f.text_field :first_name %>
 <h6>フリガナ</h6>
 <%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %>
 <h6>郵便番号</h6>
 <%= f.text_field :postal_code %>
 <h6>住所</h6>
 <%= f.text_field :address %>
 <h6>電話番号</h6>
 <%= f.text_field :telephone_number %>
 <h6>メールアドレス</h6>
 <%= f.text_field :email %>
 
<button class= "btn btn-secondary" type="submit">変更を保存</button>