
<div class="container">
 <div slass="row">
  <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
    <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h3>
<table class="table table-hover table-inverse">
  <tr>
    <th>会員ID</th>
    <td><%= @customer.id %></td>
  </tr>
  <tr>
    <th>氏名</th>
    <td><%= @customer.last_name %><%= @customer.first_name %></td>
  </tr>
   <tr>
    <th>フリガナ</th>
    <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= @customer.postal_code %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= @customer.address %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @customer.telephone_number %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @customer.email %></td>
  </tr>
  <tr>
    <th>会員ステータス</th>
    <td><%= @customer.is_active %></td>
  </tr>
 </table>

 <%= link_to edit_admin_customer_path do %>
 <button class="btn btn-success">編集する</button>
 <% end %>

<%= link_to admin_path(order_sort:0,customer_id:@customer.id) do %>
<button class="btn btn-primary">注文履歴一覧を見る</button>
<% end %>
 </div>
 </div>
 </div>