<div class="container">
 <div class="row">

<h5>注文詳細履歴</h5>
<div class="table">
<table class ="table table-borderless">
  <tr>
    <th>購入者</th>
    <th><%= @order.customer.last_name %>
        <%= @order.customer.first_name %>
    </th>
  </tr>
    <th>注文日</th>
    <th><%= @order.created_at.strftime("%Y年%m月%d日") %></th>
  </tr>
  <tr>
    <th>配送先</th>
    <th>〒<%= @order.postal_code %><%= @order.address %><br>
        <%= @order.name %>
    </th>
  </tr>
  <tr>
    <th>支払方法</th>
    <th><%= @order.payment_method %></th>
  </tr>
</table>
</div>

<div class = "col-lg-8">
<table class= "table table-borderless">
  <thead class="thead-light">
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  </thead>
  <% @order.order_details.each do |order_detail| %>
  <tr>
    <td><%= order_detail.item.name %></td>
    <td><%= order_detail.item.price*1.1.round %></td>
    <td><%= order_detail.amount %></td>
    <td><%= order_detail.item.price*1.1 * order_detail.amount.round %></td>
  </tr>
  <% end %>
</table>
</div>
<div class= "col-lg-4　align-bottom">
<table class ="table table-borderless">
  <tr>
    <th>商品合計</th>
    <th><%= @order.total_item_price %></th>
  </tr>
  <tr>
    <th>送料</th>
    <th><%= @order.shipping_cost %></th>
  </tr>
  <tr>
    <th>請求金額合計</th>
    <th><%= @order.total_payment %></th>
  </tr>
</table>
</div>
</div>