<div class="container">
 <div class="row">

<h4>ショッピングカート</h4>
<%= button_to "カートを空にする", cart_items_destroy_all_path, method: :delete %>

<table class="table table-hover table-inverse table-bordered">
    <thead class="thead-light">
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  </thead>
  <% @sum = 0 %>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td>
     <%= attachment_image_tag @item, :image_id, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40×40' %>
     <%= cart_item.item.name %></td>
    <td><%= cart_item.item.price %></td>
     <%= form_with model:cart_item, url: public_cart_item_path(cart_item), method: :patch,local:true do |f| %>
    <td>
     <%= f.select :amount, options_for_select((1..20).to_a, cart_item.amount)%>
     <%= f.hidden_field :item_id %>
    <button class="btn btn-success" type="submit">更新</button>
    </td>
    <% end %>

    <td>
     <%= cart_item.item.price*1.1*cart_item.amount %>
     <% @sum += cart_item.item.price*1.1 * cart_item.amount %>
    </td>
    <td>
     <%= link_to public_cart_item_path(cart_item), method: :delete do %>
     <i class = "btn btn-danger">削除する</i>
     <% end %>
    </td>
  </tr>
  <% end %>
 </table>
<div>
<%= link_to public_items_path do %>
<i class = "btn btn-primary">買い物を続ける</i>
<% end %>
</div>

<div>
<table class=table-bordered>
   <tr>
   <th class="th-light">合計金額</th>
   <td><%= @sum %>円</td>
   </tr>
 </table>
 </div>

<div>
<%= link_to new_public_order_path do %>
<i class = "btn btn-success">情報入力に進む</i>
<% end %>
</div>
</div>
</div>
