
<h4>注文情報入力</h4>
<%= form_with model:[:public,@order], url: orders_confirm_path, local:true do |f| %>
<%= f.label :payment, "支払い方法" %>
<br>
<%= f.radio_button :payment_method,:クレジットカード,  checked: "checked" %>
<%= f.label :payment_method, "クレジットカード" %>
<br>
<%= f.radio_button :payment_method, :銀行振込 %>
<%= f.label :payment_method, "銀行振込" %>
<br>

<%= f.label :orderaddress, "お届け先" %>
<br>
<%= f.label :postal_code, "郵便番号" %>
<%= f.text_field :postal_code %>
<br>
<%= f.label :address, "住所" %>
<%= f.text_field :address %>
<br>
<%= f.label :name, "宛名" %>
<%= f.text_field :name %>
<br>
<%= f.submit '確認画面へ進む' %>
<% end %>

