
<div>
    <%= attachment_image_tag @item, :image_id, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'60×80' %>
    <p><%= @item.name %></p>
    <p><%= @item.introduction %></p>
    <p><%= @item.price %>(税込)</p>

    <%= f.form_with model: @cart_item do |c| %>
    <%= f.select :amount, [["1","1"],["2","2"],["3","3"]] %>
    <%= f.submit "カートに入れる" %>
    <% end %>

</div>