<div class="container">
 <div class="row">
<div class = "col-lg-6">
  <%= attachment_image_tag @item, :image_id, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'60×80' %>
</div>
 <div class = "col-lg-6">
    <%= @item.name %></br>
    <%= @item.introduction %></br>
    ￥<%= @item.price*1.1 %>(税込)<br>

    <%= form_with model:[:public,@cart_item], url: public_cart_items_path, local:true do |f| %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.select :amount, options_for_select((1..20).to_a), include_blank: "個数選択" %>
    <div class = "btn-group mx-auto">
     <button class="btn btn-success" type="submit">カートに入れる</button>
    </div>
    <% end %>
    </div>
</div>
</div>
